.container-card {
  display: flex;
  flex-direction: column;
  

  align-items: center;
  &__info {
    padding-top: 10px;
   text-decoration-style: none;
  }
  &__image {
    display: block;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
}
.icon {
  width: 30px;
  height: 30px;
}
