.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img1 {
    padding-top: 35px;
    padding-bottom: 20px;
  }
  &__img2 {
    padding-bottom: 10px;
  }
  &__subtitle {
    padding-bottom: 20px;
    font-size: 17px;
  }
}
